nuke-ML-server-*/
cppzmq-*/
USDForUnity-USD-*
Tools-*/
FFmpeg-n*/
jemalloc-*/
oiio-Release-*/
build/
.idea/
USD-*/
MaterialX-*/
alembic-*/
ilmbase-*/
openexr-*/
OpenSubdiv-*/
boost_*/
pyilmbase-*/
ptex-*/
PySide-*/
pybind11-*/
*.pyc
*.gz
*.tgz
*.zip
*/0.8.*/USD-0.8.*/
/AL_USDMaya/*/AL_USDMaya*/
/glew/*/glew*/
googletest-release-*/