USDForUnity-USD-0.7.5
Tools-0.2.15/
FFmpeg-n3.3.5/
oiio-Release-1.8.5/
build/
.idea/
USD-*/
MaterialX-1.35.3/
alembic-1.5.8/
ilmbase-2.2.0/
openexr-2.2.0/
OpenSubdiv-3_2_0/
boost_1_55_0/
pyilmbase-2.2.0/
ptex-2.1.28/
PySide-1.2.4/
pybind11-2.2.1
*.pyc
*.gz
*.tgz
*.zip
*/0.8.*/USD-0.8.*/
/AL_USDMaya/*/AL_USDMaya*/
googletest-release-*/